{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  classes: 'govuk-!-display-none-print',
  contentLicence: {text: "Official sensitive"},
  meta: {
    items: []
  }
 })
}}
