{% extends "govuk/template.njk" %}

{% block head %}
<link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>

<script src="/assets/js/jquery.inputmask.js"></script>
<script src="/assets/js/inputmask.binding.js"></script>

<script src="/assets/js/accessible-autocomplete.min.js"></script>
<link href="/assets/stylesheets/accessible-autocomplete.min.css" rel="stylesheet"/>

<script src="/assets/js/page-enhancements.js"></script>
{% if feComponents.jsIncludes %}
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
{% endif %}

{% if feComponents.cssIncludes %}
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endif %}

{% endblock %}

{% block pageTitle %}{{pageTitle | pageTitleInError(errors) | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
      <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
      <span class="govuk-visually-hidden" id="pageId" data-qa="{{ pageId }}"></span>
      {% block beforeContent %}
        {% include "partials/breadcrumbs.njk" %}
      {% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/frontendInit.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "partials/footer.njk" %}
  {% endif %}
{% endblock %}
