$govuk-global-styles: true;
$path: "/assets/images/";

$govuk-page-width: 1170px;

@import 'govuk/index';

@import './components/header';
@import './components/footer';
@import './components/card';
@import './components/manual-barcode-form';
@import './components/scan-barcode-form';
@import './components/scan-barcode-result';
@import 'assets/scss/local';
